*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    
    width: 100%;
    background-color: #030919;
    
}
.bgcolor{
  background-color: #2C3639;

}


.card{
    height: 15rem;
    border-radius: 15px;
    box-shadow: -3px 3px -3px  gray;
    background-color: #738b7323;
    color: wheat;
    position: relative;
   
}
img{
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
    

}
img:hover{
    transform: rotate(50deg);
}

.containers{
    height: 86vh;
    overflow: auto;
    position: relative;

}
.cols{
   position: fixed;
    z-index: 1;
}
@media (max-width: 1000px) {
    .bigScreen {
      display:none;
    }
    .smallScreen {
      display:block;
    }
  }
  
  @media (min-width: 1001px) {
    .bigScreen {
      display:block;
      color: chartreuse;
    }
    .smallScreen {
      display:none;
    }
  }
  